extends layout

block layout-content
  div.View.FilmsView
    h1.Banner Films
    div.Message
      div.Title
        h3 full collection of films
    div.NavButtons
      a(href="http://localhost:3000")
        div.NavButton back to home