extends layout

block layout-content
  div.View
    h1.Banner filmHub
    h3 a way to do movies
    div.Message
      div.NavButtons
      a(href="/films")
          div.NavButton films
      a(href="/mylist")
          div.NavButton my list