extends layout

block layout-content
  div.View
    h1.Banner filmHub
    div.Message
      div.Title
        h3 A ~way~ to do movies
          div.NavButtons
      a(href="/user")
          div.NavButton films